.idea/
.vscode/
lib/
renpy/

*.code-workspace

**/.DS_Store

**/__pycache__/

game/cache/
game/saves/

errors.txt
log.txt
traceback.txt
project.json
steam_appid.txt

screenshot*

*.bat
*.docx
*.rpa
*.rpyc
*.zip
*.exe
*.bak

!old-game/**
